/*.tar              export-ignore
/.gitattributes     export-ignore
/.github            export-ignore
/.gitignore         export-ignore
/.idea              export-ignore
/.php-cs-fixer.dist export-ignore
/.php_cs.dist       export-ignore
/.provision         export-ignore
/.travis.yml        export-ignore
/coverage           export-ignore
/docs               export-ignore
/mock               export-ignore
/phpstan.neon       export-ignore
/phpunit.xml*       export-ignore
/psalm-baseline.xml export-ignore
/psalm.xml          export-ignore
/tests              export-ignore
/vendor             export-ignore
