includes:
    - phpstan-baseline.php

parameters:
    level: max
    tmpDir: .provision/cache
    paths:
        - src
        - tests
    excludePaths:
        analyse:
            - src/Factory/DecoyHttpFactory.php
