parameters:
    level: max
    paths:
        - src
        - tests
    ignoreErrors:
#        -
#            message: "#^Unsafe usage of new static\\(\\)\\.$#"
#            count: 0
#            path: src/Adapter/*.php
        -
            message: "#Method brnc\\\\Tests\\\\[^ ]+ has parameter [^ ]+ with no value type specified in iterable type array#"
            count: 36
            path: tests/*.php
        -
            message: "#^Method brnc\\\\Tests\\\\[^ ]+ return type has no value type specified in iterable type array\\.$#"
            count: 6
            path: tests/*.php
